<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめの運動メニュー</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4, @perfume.question5, @perfume.question6] %>
  <% when ["1", "1", "1", "1", "1", "1"] %>
    <h6>下半身＋お腹集中（筋肉アップ）</h6>
    <p>ヒップリフト3分</p>
    <p>ドローイン5分</p>
    <p>ワイドスクワット10回2セット</p>
    <p>ワイドスクワット10回2セット</p>
    <p>プランク20秒2セット</p>
  <% when ["1", "1", "1", "1", "1", "2"] %>
    <h6>下半身＋お腹集中（引き締め）</h6>
    <p>ヒップリフト3分</p>
    <p>ドローイン5分</p>
    <p>ワイドスクワット10回2セット</p>
    <p>ワイドスクワット10回2セット</p>
    <p>プランク20秒2セット</p>
  <% when ["1", "1", "1", "1", "2", "1"] %>
    <h6>下半身集中（筋肉アップ）</h6>
    <p>ヒップリフト3分</p>
    <p>ワイドスクワット10回2セット</p>
    <p>レッグレイズ10回</p>
  <% when ["1", "1", "1", "1", "2", "2"] %>
    <h6>下半身集中（引き締め）</h6>
    <p>ヒップリフト3分</p>
    <p>ワイドスクワット10回2セット</p>
    <p>レッグレイズ10回</p>
  <% when ["1", "1", "1", "2", "1", "1"] %>
    <h6>お腹集中（筋肉アップ）</h6>
    <p>ドローイン5分</p>
    <p>プランク20秒2セット</p>
    <p>レッグレイズ10回</p>
  <% when ["1", "1", "1", "2", "1", "2"] %>
    <h6>お腹集中（引き締め）</h6>
    <p>ドローイン5分</p>
    <p>プランク20秒2セット</p>
    <p>レッグレイズ10回</p>
  <% when ["1", "1", "1", "2", "2", "1"] %>
    <h6>全身バランス（筋肉アップ）</h6>
    <p>ドローイン5分</p>
    <p>ヒップリフト2分</p>
    <p>プランク20秒</p>
    <p>スクワット10回</p>
  <% when ["1", "1", "1", "2", "2", "2"] %>
    <h6>全身バランス（引き締め）</h6>
    <p>ドローイン5分</p>
    <p>ヒップリフト2分</p>
    <p>プランク20秒</p>
    <p>スクワット10回</p>

  <% when ["1", "1", "2", "1", "1", "1"] %>
    <h6>下半身、お腹集中（筋肉アップ）</h6>
    <p>ドローイン5分</p>
    <p>ヒップリフト3分</p>
    <p>プランク20秒2セット</p>
    <p>ワイドスクワット10回2セット</p>
  <% when ["1", "1", "2", "1", "1", "2"] %>
    <h6>下半身、お腹集中（引き締め）</h6>
    <p>ドローイン5分</p>
    <p>ヒップリフト3分</p>
    <p>プランク20秒2セット</p>
    <p>ワイドスクワット10回2セット</p>
  <% when ["1", "1", "2", "1", "2", "1"] %>
    <h6>下半身集中（筋肉アップ）</h6>
    <p>ヒップリフト3分</p>
    <p>ワイドスクワット10回2セット</p>
    <p>レッグレイズ10回</p>
  <% when ["1", "1", "2", "1", "2", "2"] %>
    <h6>下半身集中（引き締め）</h6>
    <p>ヒップリフト3分</p>
    <p>ワイドスクワット10回2セット</p>
    <p>レッグレイズ10回</p>
 <% when ["1", "1", "2", "2", "1", "1"] %>
    <h6>お腹集中（筋肉アップ）</h6>
    <p>ドローイン5分</p>
    <p>プランク20秒2セット</p>
    <p>レッグレイズ10回</p>
  <% when ["1", "1", "2", "2", "1", "2"] %>
    <h6>お腹集中（引き締め）</h6>
    <p>ドローイン5分</p>
    <p>プランク20秒2セット</p>
    <p>レッグレイズ10回</p>
  <% when ["1", "1", "2", "2", "2", "1"] %>
    <h6>全身バランス（筋肉アップ）</h6>
    <p>ドローイン3分</p>
    <p>ヒップリフト2分</p>
    <p>プランク20秒</p>
    <p>スクワット10回</p>
  <% when ["1", "1", "2", "2", "2", "2"] %>
    <h6>全身バランス（引き締め）</h6>
    <p>ドローイン3分</p>
    <p>ヒップリフト2分</p>
    <p>プランク20秒</p>
    <p>スクワット10回</p>

  <% when ["1", "2", "1", "1", "1", "1"] %>
    <h6>下半身、お腹集中（筋肉アップ）</h6>
    <p>ドローイン5分</p>
    <p>レッグレイズ10回</p>
    <p>プランク20秒2セット</p>
    <p>スクワット10回2セット</p>
  <% when ["1", "2", "1", "1", "1", "2"] %>
    <h6>下半身、お腹集中（引き締め）</h6>
     <p>ドローイン5分</p>
    <p>レッグレイズ10回</p>
    <p>プランク20秒2セット</p>
    <p>スクワット10回2セット</p>
  <% when ["1", "2", "1", "1", "2", "1"] %>
    <h6>下半身集中（筋肉アップ）</h6>
    <p>スクワット10回2セット<</p>
    <p>ブルガリアンスクワット10回2セット</p>
    <p>レッグレイズ10回</p>
  <% when ["1", "2", "1", "1", "2", "2"] %>
    <h6>下半身集中（引き締め）</h6>
    <p>スクワット10回2セット<</p>
    <p>ブルガリアンスクワット10回2セット</p>
    <p>レッグレイズ10回</p>
 <% when ["1", "2", "1", "2", "1", "1"] %>
    <h6>お腹集中（筋肉アップ）</h6>
    <p>腹筋、クランチ10回</p>
    <p>プランク30秒2セット</p>
    <p>レッグレイズ10回</p>
  <% when ["1", "2", "1", "2", "1", "2"] %>
    <h6>お腹集中（引き締め）</h6>
    <p>腹筋、クランチ10回</p>
    <p>プランク30秒2セット</p>
    <p>レッグレイズ10回</p>
  <% when ["1", "2", "1", "2", "2", "1"] %>
    <h6>全身バランス（筋肉アップ）</h6>
    <p>スクワット10回</p>
    <p>ももあげ20回</p>
    <p>クランチ10回</p>
    <p>プランク30秒</p>
  <% when ["1", "2", "1", "2", "2", "2"] %>
    <h6>全身バランス（引き締め）</h6>
    <p>スクワット10回</p>
    <p>ももあげ20回</p>
    <p>クランチ10回</p>
    <p>プランク30秒</p>

  <% when ["1", "2", "2", "1", "1", "1"] %>
    <h6>下半身、お腹集中（筋肉アップ）</h6>
    <p>ドローイン5分</p>
    <p>レッグレイズ10回</p>
    <p>プランク20秒2セット</p>
    <p>スクワット10回2セット</p>
  <% when ["1", "2", "2", "1", "1", "2"] %>
    <h6>下半身、お腹集中（引き締め）</h6>
     <p>ドローイン5分</p>
    <p>レッグレイズ10回</p>
    <p>プランク20秒2セット</p>
    <p>スクワット10回2セット</p>
  <% when ["1", "2", "2", "1", "2", "1"] %>
    <h6>下半身集中（筋肉アップ）</h6>
    <p>スクワット10回2セット<</p>
    <p>ブルガリアンスクワット10回2セット</p>
    <p>カーフレイズ20回</p>
  <% when ["1", "2", "2", "1", "2", "2"] %>
    <h6>下半身集中（引き締め）</h6>
    <p>スクワット10回2セット<</p>
    <p>ブルガリアンスクワット10回2セット</p>
    <p>カーフレイズ20回</p>
 <% when ["1", "2", "2", "2", "1", "1"] %>
    <h6>お腹集中（筋肉アップ）</h6>
    <p>腹筋、クランチ10回</p>
    <p>プランク30秒2セット</p>
    <p>レッグレイズ10回</p>
    <p>ドローイン3分</p>
  <% when ["1", "2", "1", "2", "1", "2"] %>
    <h6>お腹集中（引き締め）</h6>
    <p>腹筋、クランチ10回</p>
    <p>プランク30秒2セット</p>
    <p>レッグレイズ10回</p>
     <p>ドローイン3分</p>
  <% when ["1", "2", "2", "2", "2", "1"] %>
    <h6>全身バランス（筋肉アップ）</h6>
    <p>スクワット10回</p>
    <p>ももあげ20回</p>
    <p>クランチ10回</p>
    <p>ヒップリフト1分</p>
  <% when ["1", "2", "2", "2", "2", "2"] %>
    <h6>全身バランス（引き締め）</h6>
    <p>スクワット10回</p>
    <p>ももあげ20回</p>
    <p>クランチ10回</p>
    <p>プランク30秒</p>
    <p>ヒップリフト1分</p>

  <% when ["2", "1", "1", "1", "1", "1"] %>
    <h6>下半身、お腹集中（筋肉アップ）</h6>
    <p>ドローイン5分</p>
    <p>ヒップリフト3分</p>
    <p>プランク20秒2セット</p>
    <p>スクワット10回2セット</p>
  <% when ["2", "1", "1", "1", "1", "2"] %>
    <h6>下半身、お腹集中（引き締め）</h6>
    <p>ドローイン5分</p>
    <p>ヒップリフト3分</p>
    <p>プランク20秒2セット</p>
    <p>スクワット10回2セット</p>    
  <% when ["2", "1", "1", "1", "2", "1"] %>
    <h6>下半身集中（筋肉アップ）</h6>
    <p>ワイドスクワット10回</p>
    <p>カーフレイズ20回</p>
    <p>ヒップリフト3分</p>
  <% when ["2", "1", "1", "1", "2", "2"] %>
    <h6>下半身集中（引き締め）</h6>
    <p>ワイドスクワット10回</p>
    <p>カーフレイズ20回</p>
    <p>ヒップリフト3分</p>
 <% when ["2", "1", "1", "2", "1", "1"] %>
    <h6>お腹集中（筋肉アップ）</h6>
    <p>クランチ10回</p>
    <p>プランク30秒2セット</p>
    <p>ドローイン5分</p>
  <% when ["2", "1", "1", "2", "1", "2"] %>
    <h6>お腹集中（引き締め）</h6>
    <p>腹筋、クランチ10回</p>
    <p>プランク30秒2セット</p>
    <p>ドローイン5分</p>
  <% when ["2", "1", "1", "2", "2", "1"] %>
    <h6>全身バランス（筋肉アップ）</h6>
    <p>スクワット10回</p>
    <p>ももあげ20回</p>
    <p>ヒップリフト2分</p>
    <p>ドローイン3分</p>
  <% when ["2", "1", "1", "2", "2", "2"] %>
    <h6>全身バランス（引き締め）</h6>
    <p>スクワット10回</p>
    <p>ももあげ20回</p>
    <p>ドローイン3分</p>
    <p>ヒップリフト2分</p>

  <% when ["2", "1", "2", "1", "1", "1"] %>
    <h6>下半身、お腹集中（筋肉アップ）</h6>
    <p>ドローイン5分</p>
    <p>ヒップリフト3分</p>
    <p>プランク20秒2セット</p>
    <p>スクワット10回2セット</p>
  <% when ["2", "1", "2", "1", "1", "2"] %>
    <h6>下半身、お腹集中（引き締め）</h6>
    <p>ドローイン5分</p>
    <p>ヒップリフト3分</p>
    <p>プランク20秒2セット</p>
    <p>スクワット10回2セット</p>    
  <% when ["2", "1", "2", "1", "1", "2"] %>
    <h6>下半身集中（筋肉アップ）</h6>
    <p>ワイドスクワット10回</p>
    <p>レッグレイズ20回</p>
    <p>ヒップリフト3分</p>
  <% when ["2", "1", "2", "1", "2", "1"] %>
    <h6>下半身集中（引き締め）</h6>
    <p>ワイドスクワット10回</p>
    <p>レッグレイズ20回</p>
    <p>ヒップリフト3分</p>
 <% when ["2", "1", "2", "2", "1", "1"] %>
    <h6>お腹集中（筋肉アップ）</h6>
    <p>クランチ10回</p>
    <p>プランク30秒2セット</p>
    <p>ドローイン5分</p>
  <% when ["2", "1", "2", "2", "1", "2"] %>
    <h6>お腹集中（引き締め）</h6>
    <p>腹筋、クランチ10回</p>
    <p>プランク30秒2セット</p>
    <p>ドローイン5分</p>
  <% when ["2", "1", "2", "2", "2", "1"] %>
    <h6>全身バランス（筋肉アップ）</h6>
    <p>スクワット10回</p>
    <p>ももあげ20回</p>
    <p>ヒップリフト2分</p>
    <p>ドローイン3分</p>
  <% when ["2", "1", "2", "2", "2", "2"] %>
    <h6>全身バランス（引き締め）</h6>
    <p>スクワット10回</p>
    <p>ももあげ20回</p>
    <p>ドローイン3分</p>
    <p>ヒップリフト2分</p>

  <% when ["2", "2", "1", "1", "1", "1"] %>
    <h6>下半身、お腹集中（筋肉アップ）</h6>
    <p>ドローイン5分</p>
    <p>ヒップリフト2分</p>
    <p>プランク30秒2セット</p>
    <p>スクワット10回2セット</p>
  <% when ["2", "2", "1", "1", "1", "2"] %>
    <h6>下半身、お腹集中（引き締め）</h6>
    <p>ドローイン5分</p>
    <p>ヒップリフト2分</p>
    <p>プランク30秒2セット</p>
    <p>スクワット10回2セット</p>    
  <% when ["2", "2", "1", "1", "2", "1"] %>
    <h6>下半身集中（筋肉アップ）</h6>
    <p>スクワット10回2セット</p>
    <p>ブルガリアンスクワット5回2セット<</p>
    <p>カーフレイズ20回</p>
  <% when ["2", "2", "1", "1", "2", "2"] %>
    <h6>下半身集中（引き締め）</h6>
    <p>スクワット10回2セット</p>
    <p>ブルガリアンスクワット5回2セット<</p>
    <p>カーフレイズ20回</p>
 <% when ["2", "2", "1", "2", "1", "1"] %>
    <h6>お腹集中（筋肉アップ）</h6>
    <p>クランチ10回</p>
    <p>プランク30秒2セット</p>
    <p>ドローイン5分</p>
    <p>レッグレイズ10回</p>
  <% when ["2", "2", "1", "2", "1", "2"] %>
    <h6>お腹集中（引き締め）</h6>
    <p>腹筋、クランチ10回</p>
    <p>プランク30秒2セット</p>
    <p>ドローイン5分</p>
    <p>レッグレイズ10回</p>
  <% when ["2", "2", "1", "2", "2", "1"] %>
    <h6>全身バランス（筋肉アップ）</h6>
    <p>スクワット10回</p>
    <p>ももあげ20回</p>
    <p>ヒップリフト2分</p>
    <p>ドローイン3分</p>
    <p>クランチ10回</p>
  <% when ["2", "2", "1", "2", "2", "2"] %>
    <h6>全身バランス（引き締め）</h6>
    <p>スクワット10回</p>
    <p>ももあげ20回</p>
    <p>ドローイン3分</p>
    <p>ヒップリフト2分</p>
    <p>クランチ10回</p>

  <% when ["2", "2", "2", "1", "1", "1"] %>
    <h6>下半身、お腹集中（筋肉アップ）</h6>
    <p>ドローイン5分</p>
    <p>ヒップリフト3分</p>
    <p>プランク30秒2セット</p>
    <p>スクワット10回2セット</p>
  <% when ["2", "2", "2", "1", "1", "2"] %>
    <h6>下半身、お腹集中（引き締め）</h6>
    <p>ドローイン5分</p>
    <p>ヒップリフト3分</p>
    <p>プランク30秒2セット</p>
    <p>スクワット10回2セット</p>    
  <% when ["2", "2", "2", "1", "2", "1"] %>
    <h6>下半身集中（筋肉アップ）</h6>
    <p>スクワット10回2セット</p>
    <p>ブルガリアンスクワット5回<</p>
    <p>ワイドスクワット10回</p>
  <% when ["2", "2", "2", "1", "2", "2"] %>
    <h6>下半身集中（引き締め）</h6>
    <p>スクワット10回2セット</p>
    <p>ブルガリアンスクワット5回<</p>
    <p>ワイドスクワット10回</p>
 <% when ["2", "2", "2", "2", "1", "1"] %>
    <h6>お腹集中（筋肉アップ）</h6>
    <p>クランチ10回</p>
    <p>プランク30秒2セット</p>
    <p>ドローイン5分</p>
    <p>レッグレイズ10回</p>
  <% when ["2", "2", "2", "2", "1", "2"] %>
    <h6>お腹集中（引き締め）</h6>
    <p>クランチ10回</p>
    <p>プランク30秒2セット</p>
    <p>ドローイン5分</p>
    <p>レッグレイズ10回</p>
  <% when ["2", "2", "2", "2", "2", "1"] %>
    <h6>全身バランス（筋肉アップ）</h6>
    <p>スクワット10回</p>
    <p>ももあげ20回</p>
    <p>ヒップリフト2分</p>
    <p>クランチ10回</p>
  <% when ["2", "2", "2", "2", "2", "2"] %>
    <h6>全身バランス（引き締め）</h6>
    <p>スクワット10回</p>
    <p>ももあげ20回</p>
    <p>ヒップリフト2分</p>
    <p>クランチ10回</p>
    <% end %>
    </div>
    <div class="record-link-container">
   <%= link_to "カレンダーに記録する", blogs_path, class: "pop-button" %>
   </div>